body {
    background-color: #fafafa;
}

.nav_top {
    height: 59px;
    border-bottom: 1px solid #dbdbdb;
    background-color: #ffffff;
    
    
}
.nav_logo {
    float: right;
    margin-top: 19px;
    margin-left: 20px;
    width: 103px;
    height: 29px;
    
}
.search{
    font-weight: 500;
    width: 250px;
    height: 34px;
    border: 1px solid rgba(var(--bb2,239,239,239),1);
    background-color: rgba(var(--bb2,239,239,239),1);
    font-size: 16px;
    border-radius: 8px;
    padding: 0 16px;
    margin-left: 240px;
    margin-top: 12px;
    color: black;
}

.icon {
    max-width: 25px;
    max-height: 25px;
    margin: 11px;
    margin-top: 18px;

}
.upload_post > input {
    display: none;
}