body {
       background-color: #fafafa;
   }
   .container {
       /* max-width: 47% !important;
       overflow-y: scroll;
       max-height: 800px;
       */
   }
   
   .container::-webkit-scrollbar {
       display: none;
     }