.info_container {
       width: 300px;
       height: 56px;
       margin-top: 52px;
       display: flex;
       margin-left: 10px;
       overflow-x: hidden;
       text-overflow: ellipsis;
       align-items: center;
       
   }
   .info_image{
       min-width: 56px;
       min-height: 56px;
   }
   .info_username {
       width: 194px;
       margin: 5px;
       font-weight: 700;
       color: rgba(var(--i1d,38,38,38),1);
       font-size: 14px;
       margin-left: 18px;
   }


   .change_user {
        font-size: 12px;
        font-weight: bold;
        color: rgba(var(--d69,0,149,246),1);
   }